<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Employees main page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container my-5">
    <h2>Employees list</h2>
    <a th:href="@{/add-employee-form}" class="btn btn-primary btn-sm mb-3">Add employee</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th><p>id</p></th>
            <th><p>name</p></th>
            <th><p>surname</p></th>
            <th><p>email</p></th>
            <th><p>age</p></th>
            <th><p>actions</p></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.getId()}"></td>
            <td th:text="${employee.getName()}"></td>
            <td th:text="${employee.getSurname()}"></td>
            <td th:text="${employee.getEmail()}"></td>
            <td th:text="${employee.getAge()}"></td>
            <td>
                <a th:href="@{'update-employee/' + ${employee.id}}"
                   class="btn btn-success btn-sm">Update</a>
                <a th:href="@{'/delete-employee/' + ${employee.id}}"
                   class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:if="${currentPage > 1}"
                       th:href="@{'/page/' + ${currentPage - 1}}">Previous</a>
                    <a class="page-link" th:unless="${currentPage > 1}">Previous</a>
                </li>

                <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                    <a class="page-link alert-primary" th:unless="${currentPage != i}">[[${i}]]</a>
                </li>

                <li class="page-item">
                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
                    <a class="page-link" th:unless="${currentPage < totalPages}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
